*~
*.in
*.la
*.lo
*.o
*.stamp
*.bak
.deps
.libs
Makefile
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
docs/reference/ytstenut-glib/ytstenut-glib-docs.xml
*decl-list.txt
*decl.txt
*undeclared.txt
*undocumented.txt
*unused.txt
*glib.args
*glib.hierarchy
*glib.interfaces
*glib.prerequisites
*glib.signals
*glib.types

gtk-doc.make
install-sh
libtool
ltmain.sh
missing
omf.make
stamp-h1
xmldocs.make
Ytsg-1.0.gir
Ytsg-1.0.typelib
Ytstenut-glib-1.0.gir
stamp-marshal.h
stamp-ytsg-enum-types.h
tmp-introspect*
ytsg-enum-types.c
ytsg-enum-types.h
ytsg-marshal.c
ytsg-marshal.h
ytsg-status.c
ytsg-status.h
ytsg-version.h
ytstenut-glib.pc
