*~
*.in
*.la
*.lo
*.o
*.stamp
*.bak
.deps
.libs
Makefile
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
docs/reference/ytstenut/ytstenut-docs.xml
*decl-list.txt
*decl.txt
*undeclared.txt
*undocumented.txt
*unused.txt
*glib.args
*glib.hierarchy
*glib.interfaces
*glib.prerequisites
*glib.signals
*glib.types

gtk-doc.make
install-sh
libtool
ltmain.sh
missing
omf.make
stamp-h1
xmldocs.make
Yts-1.0.gir
Yts-1.0.typelib
Ytstenut-1.0.gir
stamp-marshal.h
stamp-yts-enum-types.h
tmp-introspect*
yts-enum-types.c
yts-enum-types.h
yts-marshal.c
yts-marshal.h
yts-status.c
yts-status.h
yts-version.h
ytstenut-1.pc
